<form #f="ngForm"
      (ngSubmit)="f.form.valid && valider()">
  <div class="card">
    <div class="card-header">


      <h4 class="card-title mb-0">{{title}}</h4>

    </div>

    <div class="card-body">

      <div class="row">

        <div class="form-group col-sm-12">
          <label>Libelle</label>
          <input #libelle="ngModel"
                 [(ngModel)]="formation.libelle" class="form-control"
                 name="libelle" placeholder="Libelle" required>
          <div *ngIf="f.submitted && libelle.invalid" class="form-text text-danger">

            Libelle réquis

          </div>
        </div>

        <div class="form-group col-sm-6">
          <label>Date de début prevu</label>


          <nz-date-picker #datedebut="ngModel"
                          [(ngModel)]="formation.dateDebutReel"
                          class="form-control"
                          name="datedebut"
                          nzFormat="dd/MM/yyyy"
                          required></nz-date-picker>
          <div *ngIf="f.submitted && datedebut.invalid"
               class="form-text text-danger">

            Date de début réquis
          </div>
        </div>

      <div class="form-group col-sm-6">
        <label>Date de début prevu</label>


        <nz-date-picker #datefin="ngModel"
                        [(ngModel)]="formation.dateFinPrevu"
                        class="form-control"
                        name="datefin"
                        nzFormat="dd/MM/yyyy"
                        required></nz-date-picker>
        <div *ngIf="f.submitted && datefin.invalid"
             class="form-text text-danger">

          Date de fin réquis
        </div>
      </div>
      <div class="form-group col-sm-6">
        <div>
        <label>Nombre d'heures</label>
        </div>
        <nz-input-number #nbrheur="ngModel"
          [(ngModel)]="formation.nbrHeur" name="nbrheur"
                         [nzMin]="1"
                         [nzMax]="50"
                         [nzStep]="1" required>
        </nz-input-number>
        <div *ngIf="f.submitted && nbrheur.invalid"
             class="form-text text-danger">

         Nombre d'heures réquis
        </div>
      </div>
        <div class="form-group col-sm-6">
          <label>Prix</label>
          <input type=number #prix="ngModel"
                 [(ngModel)]="formation.prix" class="form-control"
                 name="prix" placeholder="Prix" required>
          <div *ngIf="f.submitted && prix.invalid" class="form-text text-danger">

            Prix réquis

          </div>
        </div>

        <div class="form-group col-sm-6">
          <label class="mr-3">Thémes</label>
          <div>
            <nz-select name="theme" [(ngModel)]='formation.theme' class="form-control" (ngModelChange)="onItemChange()">
              <nz-option *ngFor="let theme of themes"
                         nzValue = "{{theme.libelle}}"
                         nzLabel = "{{theme.libelle}}"></nz-option>
            </nz-select>
          </div>
        </div>


        <div class="form-group col-sm-6">
          <label class="mr-3">Formateurs</label>
          <div>
            <nz-select name="formateur" [(ngModel)]='formation.formateur' class="form-control" >
              <nz-option *ngFor="let formateur of formateurs"
                         nzValue = "{{formateur.nom}}{{formateur.prenom}}"
                         nzLabel = "{{formateur.nom}}{{formateur.prenom}}"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <div class="fa-pull-right">
        <button class="btn btn-danger mr-2" (click)="annuler()" type="reset">Annuler</button>
        <button class="btn btn-success"  type="submit" *ngIf="!id">Ajouter</button>
        <button class="btn btn-warning"  type="submit" *ngIf="id">Modifier</button>
      </div>
    </div>
  </div>
</form>
