
<form  #f="ngForm"
      (ngSubmit)="f.form.valid && valider()">
  <div class="card">
  <div class="card-header">


    <h4 class="card-title mb-0">{{title}}</h4>

  </div>

  <div class="card-body">

    <div class="row">
      <div class="form-group col-sm-6">
        <label>Nom</label>
        <input #nom="ngModel"
               [(ngModel)]="formateur.nom" class="form-control"
               name="nom" placeholder="Nom" required>
        <div *ngIf="f.submitted && nom.invalid" class="form-text text-danger">

          Nom réquis

        </div>
      </div>


      <div class="form-group col-sm-6">
        <label>Prénom</label>
        <input #prenom="ngModel"
               [(ngModel)]="formateur.prenom"
               class="form-control" name="prenom"
               placeholder="Prénom" required>
        <div *ngIf="f.submitted && prenom.invalid" class="form-text text-danger">

          Prénom réquis

        </div>
      </div>
      <div class="form-group col-sm-6">
        <label>Téléphone </label>
        <input #telephone="ngModel" (keypress)="numberOnly($event)"
               [(ngModel)]="formateur.telephone" class="form-control"
               name="telephone" placeholder="telephone" required>
        <div *ngIf="f.submitted && telephone.invalid"
             class="form-text text-danger">

          Téléphone réquis

        </div>
      </div>





      <div class="form-group col-sm-6">
        <label>Email</label>
        <input #email="ngModel" [(ngModel)]="formateur.email" class="form-control"
               email name="email"
               placeholder="Email" required type="email">
        <div *ngIf="f.submitted && email.invalid" class="form-text text-danger">
          <div *ngIf="email.errors.required">
            Email réquis
          </div>
          <div *ngIf="email.errors.email">
            Email invalide
          </div>

        </div>
      </div>

<div class="form-group col-sm-12">
  <label>Thèmes</label>
  <nz-select  class="col-sm-12"
              nzAllowClear
             [(ngModel)]="selectedThemes"
              [compareWith]="compareFn"
             nzMode="multiple" nzPlaceHolder="Choisir Thèmes"
              name="themes" #theme="ngModel" required>
    <nz-option *ngFor="let option of themes"
               [nzLabel]="option.libelle"
               [nzValue]="option"></nz-option>
  </nz-select>

  <div *ngIf="f.submitted && theme.invalid"
       class="form-text text-danger">

    Thèmes réquis

  </div>
</div>

    </div>
  </div>
    <div class="card-footer">
      <div class="fa-pull-right">
        <button class="btn btn-danger mr-2" (click)="annuler()" type="reset">Annuler</button>
        <button class="btn btn-success" type="submit" *ngIf="!id">Ajouter</button>
        <button class="btn btn-warning" type="submit" *ngIf="id">Modifier</button>
      </div>
    </div>

  </div>
</form>
